@model IEnumerable<Entity.Vega>


<section class="product__area pt-60 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__title-wrapper text-center mb-55">
                    <div class="section__title mb-10">
                        <h2>Ürünlerimiz</h2>
                    </div>
                    <div class="section__sub-title">
                        @*                                        <p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
                        *@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @await Component.InvokeAsync("OneProduct")
        <div class="product__banner p-relative">

            <div class="row">
                <div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6">
                    <div class="product__slider-2 owl-carousel">
                        @foreach (var item in Model)
                        {

                            <div class="product__item">
                                <div class="product__wrapper mb-60">
                                    <div class="product__thumb">
                                        <a href="/Product/Detail/@item.Id" class="w-img">
                                            <img src="~/assets/@item.ImageUrl" alt="product-img">
                                            <img class="product__thumb-2" src="~/assets/@item.ImageUrl" alt="product-img">
                                        </a>

                                    </div>
                                    <div class="product__content p-relative">
                                        <div class="product__content-inner">
                                            <h4><a href=" /Product/Detail/@item.Id">@item.Name</a></h4>
                                            <div class="product__price transition-3">
                                                <span class="prc">@item.Price @item.MonyTyp + KDV</span>

                                            </div>
                                        </div>
                                        <div class="add-cart p-absolute transition-3">
                                            <a href="/Product/Detail/@item.Id">@item.Price</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__wrapper mb-60">
                                    <div class="product__thumb">
                                        <a href="/Product/Detail/@item.Id" class="w-img">
                                            <img src="~/assets/@item.ImageUrl" alt="product-img">
                                            <img class="product__thumb-2" src="~/assets/@item.ImageUrl" alt="product-img">
                                        </a>
                                   
                                        <div class="product__sale">
                                            @*<span class="new">new</span>
                                        <span class="percent">-16%</span>*@
                                        </div>
                                    </div>
                                    <div class="product__content p-relative">
                                        <div class="product__content-inner">
                                            <h4><a href="#">@item.Name</a></h4>
                                            <div class="product__price transition-3">
                                                <span>@item.Price ₺</span>
                                            </div>
                                        </div>
                                        <div class="add-cart p-absolute transition-3">
                                            <a href="/Product/Detail/@item.Id">@item.Price</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>