@model Entity.Vega

@{
    ViewData["Title"] = "ProductAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Ürün Ekle</h4>
							</div>
							
						</div>
			
					</div>
				</div>



				<!-- Default Basic Forms Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Ürün Ekleme Sayfası</h4>
						</div>
						
					</div>
				<form  method="post" enctype="multipart/form-data"  >
					

				
					<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Ürün Adı</label>
							<div class="col-sm-12 col-md-10">
								@Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
							</div>
						</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Kategori Seç</label>
						<div class="col-sm-12 col-md-10">
							@Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.cv , new{@class="form-control"})
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Kategori Adı </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.CategoryName,new{@class="form-control"})
						</div>
					</div>



					<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Stok</label>
							<div class="col-sm-12 col-md-10">
								@Html.TextBoxFor(x=>x.Stok,new{@class="form-control"})
							</div>
						</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Birim Tipi </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.MonyTyp,new{@class="form-control"})
						</div>
					</div>


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Iskonto oranı </label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Iskonto,new{@class="form-control"})
						</div>
					</div>

				


					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Fiyat</label>
						<div class="col-sm-12 col-md-10">
							@Html.TextBoxFor(x=>x.Price,new{@class="form-control"})
						</div>
					</div>








					<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Ürün Resmi   </label>
							<div class="col-sm-12 col-md-10">
								@*@Html.TextBoxFor(x=>x.ImgPath,new{@class="form-control"})*@
								<input type="file" name="ImageUrl" class="form-control" />
							</div>
						</div>








     <button class="btn  btn-outline-primary w-100" type="submit"><i class="icon-copy fa fa-save" aria-hidden="true"></i> Kaydet</button>
						
					
</form>
		
		

	</div>
